body {
    background-color: grey;
}

#player {
    position: absolute;
}

#track {
    width:1550px;
    height: 950px;
    background-image: url(../images/road-top-view-cartoon-asphalt-street-way_543062-3276.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    animation: roadmove 3s infinite linear;
}

@keyframes roadmove {
    0% {background-position: 1550px 0}
    100% {background-position: 0 0}
}


.obstacle {
    position: absolute;
    background-image: url(../images/enemycar.png);
    background-size: cover;
    background-color: transparent;

}

.bullet {
    background-color: transparent;
    position: absolute;
    background-image: url(../images/wood.png);
    background-size: cover;
}


