body {
    background-color: white;
}

#player {
    position: absolute;
}

#track {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/road-top-view-cartoon-asphalt-street-way_543062-3276.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: 50% 50%;
    animation: roadmove 3s infinite linear;
}

@keyframes roadmove {
    0% {background-position: 100vw 0}
    100% {background-position: 0 0}
}

#opponent1 {
    position: absolute;
    animation-name: opponent1move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate
}

@keyframes opponent1move {
    0% {top: 0vh}
    100% {top: 80vh}
}

.obstacle {
    background-color: black;
    position: relative
}